.DropDown {
  border-bottom: 1px solid #8080805c;
  overflow: hidden;

  .Flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;

    p {
      margin-left: 5%;
      font-size: 15px;
    }

    svg {
      margin-right: 5%;
      transition: .5s;
    }
  }

  .Display {
    display:flex;
    justify-content: space-around;
    height: 0;
    transition: .5s;
  }
}

.active {
    .Display {
      margin-top: 10px;
      height: 120px!important;
    }

    svg{
        transform: rotateZ(180deg);
    }
}

