.DropDown{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #8080805c;
    text-transform: uppercase;
    cursor: pointer;

    p{
        margin-left: 5%;
        font-size: 15px;
    }

    svg {
        margin-right: 5%;
    }
}