.DropDown {
  border-bottom: 1px solid #8080805c;
  overflow: hidden;

  .Flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;

    p {
      margin-left: 5%;
      font-size: 15px;
    }

    svg {
      margin-right: 5%;
      transition: .3s;
    }
  }

  .Display {
    display:flex;
    justify-content: space-around;
    max-height: 0;
    transition: max-height .8s; //Zatvaranje

    p {
      text-align: left;
      margin:3% 5%;
    }
  }
}

.active {
    .Display {
      margin-top: 10px;
      max-height: 300px!important;
      transition: max-height .8s; //Otvaranje
      margin-bottom: 10px;
    }

    svg{
        transform: rotateZ(180deg);
    }
}

