.Layout {
    color: #1e2837;
    margin:0;
    padding: 0;
    .Drop {
        border-top: 1px solid #8080805c;
        width: 90%;
        margin:auto;
    }

    .Model {
        height: 300px!important;
        width: 100% !important;
        position: relative;
    }
}

