.Header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #8080805c;
    width: 90%;
    margin:auto;
    margin-top:20px;
    z-index: 10;

    img{
        width: 40px;
    }

    p {
        font-size: 15px;
    }

    svg{
        margin-left: 15px;
        font-size: 25px;
        cursor: pointer;
    }

}


@media (min-width: 1200px) {
    .Header {
        width: 100%;
        height: calc(7% - 1px);
        margin-top:0;
        min-height: 60px;

        img{
            width: 50px;
        }

        svg {
            font-size: 30px;
        }
    }
}